.advantage {
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: (100%/3);
    }
    @media screen and (min-width: 1200px) {
      width: (100%/6);
    }

    &:nth-child(1) {
      .advantage__icon:before {
        width: 48px;
        line-height: 71px;
        @include fa($icon: $advantage-1, $color: $purpl-icon);
      }
    }

    &:nth-child(2) {
      .advantage__icon:before {
        width: 67px;
        line-height: 78px;
        @include fa($icon: $advantage-2, $color: $purpl-icon);
      }
    }

    &:nth-child(3) {
      .advantage__icon:before {
        width: 78px;
        height: 83px;
        @include fa($icon: $advantage-3, $color: $purpl-icon);
      }
    }

    &:nth-child(4) {
      .advantage__icon:before {
        width: 71px;
        line-height: 64px;
        @include fa($icon: $advantage-4, $color: $purpl-icon);
      }
    }

    &:nth-child(5) {
      .advantage__icon:before {
        width: 55px;
        line-height: 79px;
        @include fa($icon: $advantage-5, $color: $purpl-icon);
      }
    }

    &:nth-child(6) {
      .advantage__icon:before {
        width: 60px;
        line-height: 66px;
        @include fa($icon: $advantage-6, $color: $purpl-icon);
      }
    }
  }

  &__text {
    padding-top: 30px;
    font-size: 14px;
    font-family: SFUIDisplay_Bold;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
