.catalog-slider {
  margin-top: 60px;
  @import "_product.scss";

  &__bot {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    width: 69px;
    height: 69px;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 75px;
    width: 100%;
    height: 75px;

    &_next,
    &_prev {
      transition: box-shadow 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(118, 75, 194);
      width: 64px;
      height: 67px;

      &:hover {
        cursor: pointer;
        background-color: rgb(156, 100, 255);
        box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8);
      }

      &:before {
        width: 16px;
        line-height: 42px;
        @include fa($icon: $arrow-left, $color: rgb(255,255,255));
      }
    }

    &_next {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &:before {
        transform: rotate(180deg);
      }
    }

    &_prev {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

.swiper-container {
  display: flex;
}

.swiper-slide {
  display: flex;
  background-size: cover;
  background-position: center;
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-active .catalog-slider__bot {
  &:first-child:before,
  &:last-child:after {
    bottom: 4px;
    height: 75px;
    width: 50%;
    content: '\00A0';
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 24px;
  }

  &:first-child:before {
    right: 5px;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M-0.000,23.000 L5.000,23.000 L5.000,5.000 L24.000,5.000 L24.000,-0.000 L-0.000,-0.000 L-0.000,23.000 Z"/></svg>'), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M-0.000,-0.000 L5.000,-0.000 L5.000,18.000 L24.000,18.000 L24.000,23.000 L-0.000,23.000 L-0.000,-0.000 Z"/></svg>');
    background-position: top left, bottom left;
  }

  &:last-child:after {
    float: right;
    left: 5px;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M24.000,23.000 L19.000,23.000 L19.000,5.000 L-0.000,5.000 L-0.000,-0.000 L24.000,-0.000 L24.000,23.000 Z"/></svg>'), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M24.000,-0.000 L19.000,-0.000 L19.000,18.000 L-0.000,18.000 L-0.000,23.000 L24.000,23.000 L24.000,-0.000 Z"/></svg>');
    background-position: top right, bottom right;
  }
}

.gallery-top {
  width: 100%;
  height: 100%;

  .swiper-slide {
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}

.gallery-thumbs {
  height: 100%;
  align-items: center;
  width: calc(100% - 128px);
  height: 75px;
  box-sizing: border-box;

  .swiper-slide {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 499px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .swiper-wrapper {
    height: 69px;
  }
}
