.catalog-nav {
  padding-top: 65px;

  &__item,
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    height: 104px;
    width: (100%/3);

    &_active {
      order: 0;
      @media screen and (min-width: 500px) {
        order: 2;
      }
      @media screen and (min-width: 768px) {
        order: 0;
      }
    }
    @media screen and (min-width: 500px) {
      width: (100%/4);
    }
    @media screen and (min-width: 992px) {
      width: (100%/9);
    }

    &:nth-child(1) .catalog-nav__link {
      background-color: $purpl;
    }

    &:nth-child(2) .catalog-nav__link {
      background-color: rgb(3, 169, 244);
    }

    &:nth-child(3) .catalog-nav__link {
      background-color: rgb(255, 193, 7);
    }

    &:nth-child(4) .catalog-nav__link {
      background-color: rgb(233, 30, 99);
    }

    &:nth-child(5) .catalog-nav__link {
      background-color: rgb(139, 195, 74);
    }

    &:nth-child(6) .catalog-nav__link {
      background-color: rgb(0, 150, 136);
    }

    &:nth-child(7) .catalog-nav__link {
      background-color: rgb(133, 151, 160);
    }

    &:nth-child(8) .catalog-nav__link {
      background-color: rgb(63, 81, 181);
    }

    &:nth-child(9) .catalog-nav__link {
      background-color: rgb(255, 87, 34);
    }
  }

  &__items {
    width: 100%;
    height: 84px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
  }

  &__link {
    transition: height 0.5s;
    height: 84px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    &_active {
      height: 104px;

      .catalog-nav__arrow {
        display: flex;
      }
    }

    &:focus,
    &:hover {
      text-decoration: none;
      height: 104px;

      .catalog-nav__arrow {
        display: flex;
      }
    }
  }

  &__number {
    position: absolute;
    align-self: flex-end;
    font-size: 11px;
    font-family: SFUIDisplay_Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }

  &__icon {

  }

  &__text {
    font-size: 14px;
    font-family: SFUIDisplay_Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }

  &__arrow {
    display: none;
    justify-content: center;
    align-items: flex-start;

    &:after {
      width: 62px;
      line-height: 14px;
      @include fa($icon: $catalog-arrow, $color: rgb(255,255,255));
    }
  }
}
