.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  &__col {
    width: (100% / 2);
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 768px) {
      width: auto;
      max-width: 30%;
    }
  }

  &__title {
    white-space: normal;
    font-size: 16px;
    font-family: SFUIDisplay_Bold;
    color: $purpl;
    text-transform: uppercase;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      white-space: nowrap;
    }
  }

  &__checkbox {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: SFUIDisplay_Regular;
    color: rgb(117, 117, 117);
    line-height: 1.2;
  }
}
