.catalog {
  &__title {
    font-size: 62px;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 72px;
    }
  }
}
@import '_catalog-nav.scss';
@import '_catalog-filter.scss';
@import '_catalog-slider.scss';
