.checkbox {
  display: none;

  &__label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

&+&__label:before {
  margin-right: 10px;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(215, 215, 215);
  background-color: rgb(255, 255, 255);
}

&:checked+&__label:before {
  background-color: $purpl;
  border: none;
}

&+&__label:after {
  position: relative;
  right: calc(100% - 20px);
  content: '';
  width: 14px;
  line-height: 11px;
  height: 11px;
}

&:checked+&__label:after {
  position: relative;
  right: calc(100% - 20px);
  content: '';
  width: 14px;
  line-height: 11px;
  height: 11px;
  @include fa($icon: $checkbox, $color: rgb(255,255,255));
}
}
