.colors {
  height: 50px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 0;
  border-top: 1px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    height: 64px;
    width: calc(100% - 40px);
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__radio {
    display: none;
  }
  &__border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    width: 32px;
    height: 32px;
    @media screen and (max-width: 767px) {
      &:nth-child(n+8) {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      &:nth-child(n+14) {
        display: none;
      }
    }
  }
  &__label {
    display: flex;
    max-width: none;
    margin-bottom: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  &__radio:not(:checked)+&__border {
    border-color: transparent !important;
  }
}