@font-face {
    font-family: Merriweather_Bold;
    src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: Roboto_Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto_Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Myriad_Pro;
    src: url("../fonts/Myriad_Pro.otf");
}
@font-face {
    font-family: SFUIDisplay_Thin;
    src: url("../fonts/SFUIDisplay-Thin.otf");
}
@font-face {
    font-family: SFUIDisplay_Bold;
    src: url("../fonts/SFUIDisplay-Bold.otf");
}

@font-face {
    font-family: SFUIDisplay_Regular;
    src: url("../fonts/SFUIDisplay-Regular.otf");
}

@font-face {
    font-family: SFUIDisplay_Medium;
    src: url("../fonts/SFUIDisplay-Medium.otf");
}

@font-face {
    font-family: SFUIDisplay_Light;
    src: url("../fonts/SFUIDisplay-Light.otf");
}
