.footer {
  background-color: $purpl;
  background-image: url('../images/footer-bg.png'), url('../images/footer-bg.png');
  background-size: 200%;
  background-position: bottom, top;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.302);
  font-family: Roboto_Bold;
  padding: 42px 0;
  @media screen and (min-width: 768px) {
    background-image: url('../images/footer-bg.png');
    background-size: cover;
    background-position: center;
  }
  @include nav-link($color: "rgb(255, 193, 7)", $color-text: rgb(255, 193, 7));
}

.copiright {
  width: 199px;
  font-family: Roboto_Regular;
  text-align: center;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
