.header {
  max-height: 900px;
  overflow: hidden;
  background-image: url('../images/header-bg.png');
  background-position: center;
  background-size: cover;
  font-family: SFUIDisplay_Bold;
  color: rgb(255, 199, 191);

  .my-nav .container {
    padding-top: 20px;
  }

  @include nav-link;
  @import "_header-slider.scss";
  @import "_modal-catalog.scss";
}
