.header-slider {
  width: 100%;
  max-height: 829px;
  overflow-x: hidden;

  .swiper-container {
    width: 100%;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  &__slide {
    &_1 {
      margin: (57px / 3) (140px / 3) (57px / 3) (190px / 3);
      @media screen and (min-width: 768px) {
        margin: (57px / 2) (140px / 2) (57px / 2) (190px / 2);
      }
      @media screen and (min-width: 992px) {
        margin: 57px 140px 57px 190px;
      }
    }

    &_2 {
      display: flex;
      align-items: center;
      margin: 30px 50px 50px;

      .header-slider__img {
        width: 40%;
        @media screen and (min-width: 768px) {
          width: 30%;
        }
      }
      @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 130px;
      }
      @media screen and (min-width: 992px) {
        margin-top: 65px;
        margin-bottom: 145px;
        margin-left: 120px;
      }
    }
  }

  &__title {
    margin-left: -10px;
    font-size: 20px;
    font-family: Merriweather_Bold;
    color: rgb(255, 254, 254);
    line-height: 1.458;
    @media screen and (min-width: 500px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
    @media screen and (min-width: 992px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 48px;
    }
  }

  &__pagination {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 57px;
    }

    .swiper-pagination-bullet {
      border-style: solid;
      border-width: 2px;
      border-color: rgb(255, 255, 255);
      background-color: transparent;
      width: 15px;
      height: 15px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: rgb(255, 255, 255);
    }
  }

  &__next,
  &__prev {
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    transition: background-image 0.2s;
    position: absolute;
    width: (182px / 2);
    height: (242px / 2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media screen and (min-width: 768px) {
      width: 183px;
      height: 227px;
      margin-top: -40px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__next {
    right: 0;
    background-image: url("../images/arrow-next.png");

    &:hover {
      background-image: url("../images/arrow-next_hover.png");
    }
  }

  &__prev {
    background-image: url("../images/arrow-prev.png");

    &:hover {
      background-image: url("../images/arrow-prev_hover.png");
    }
  }
}
