$purpl-icon: "rgb(118, 75, 194)";
$purpl: rgb(118, 75, 194);
.padding-0 {
  padding: 0;
}
.bg-white {
  background-color: #fff;
}

.bg-purpl {
  background-color: $purpl;
}

.app {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-purpl {
  color: $purpl;
}

.title {
  margin: 0;
  font-family: "Merriweather_Bold";
  color: rgb(227, 87, 78);
  line-height: 1.111;
  white-space: nowrap;
}

.zoomLens {
  width: 235px !important;
  height: 310px !important;
  border-style: none !important;
  background-image: url("../images/corner.png");
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-position: center !important;
}
