.main-content {
  background-color: #fff;
  background-image: url("../images/main-bg.png");
  background-size: 100%;
  padding-top: 90px;

  &__title {
    font-size: 30px;
    @media(min-width: 400px) {
      font-size: 42px;
    }
    @media(min-width: 768px) {
      font-size: 72px;
    }
  }

  &__content {
    font-size: 14px;
    font-family: SFUIDisplay_Regular;
    color: rgb(117, 117, 117);
    line-height: 1.5;

    &:first-child {
      padding-top: 15px;
    }
  }
  @import "_advantage.scss";
  @import "_catalog.scss";
  @import "_modal.scss";
}
