.modal-catalog {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  margin: auto;
  width: 80%;
  max-width: 768px;
  @media screen and (min-width: 768px) {
    width: 50%;
  }

  &__container {
    width: 100%;
    height: 80%;
    background-color: #fff;
    border-radius: 5px;
    background-image: url("../images/modal-bg.png");
    background-size: contain;
    @media screen and (min-width: 768px) {
    height: 330px;
    }
  }

  &__group-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
    bottom: 50px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__group {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    flex-shrink: 0;
    display: none;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__content {
    padding: 0 15px;
    margin: 0;
    background-color: #fff;
  }

  &__list {
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__link {
    white-space: nowrap;
  }

  &__close {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    position: relative;
    left: 25px;
    bottom: 25px;
    border-radius: 5px;
    background-color: $purpl;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:before {
      width: 24px;
      height: 24px;
      @include fa($icon: $cross, $color: rgb(255, 255, 255));
    }
  }
}
