&__slider {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
  user-select: none;
}

.img-col {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purpl;
    width: 67px;
    height: 64px;

    &:before {
      width: 42px;
      line-height: 16px;
      @include fa($icon: $arrow-top, $color: rgb(255,255,255));
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(156, 100, 255);
      box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8);
    }

    &_top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &_bot {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: block;
    width: 67px;
    height: 64px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);

    &:hover,
    &_active {
      border-color: $purpl;
      border-width: 2px;
      width: 65px;
    }
  }
}

.img-singl {
  width: 100%;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    align-self: center;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    @media screen and (min-width: 768px) {
    justify-content: flex-start;
      margin-left: 35px;
    }

    &-block {
      margin-bottom: 10px;
      display: flex;
      padding-left: 15px;
      @media screen and (min-width: 768px) {
        &:not(:last-child):after {
          content: '';
          margin-left: 15px;
          display: inline-block;
          height: 100%;
          width: 1px;
          background-color: rgb(224, 224, 224);
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      font-family: SFUIDisplay_Regular;
      color: $purpl;
      border-bottom: 1px solid rgb(224, 224, 224);
      line-height: 15px;

      &:before {
        padding-bottom: 15px;
        background-repeat: no-repeat;
        width: 52px;
        line-height: 34px;
        @include fa($icon: $video, $color: $purpl-icon);
      }

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }
}
