.modal {
  @import "_modal-slider.scss";
  overflow: visible;
  padding: 15px;
  border-radius: 5px;
  width: 1030px;
  max-width: 90%;
  height: 880px;
  max-height: 95%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(255,255,255);
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 5;
  background-image: url("../images/modal-bg.png");
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 60px;
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 0;
  }

  &__cross {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    left: 30px;
    bottom: 30px;
    border-radius: 5px;
    background-color: $purpl;
    width: 50px;
    height: 50px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      left: 85px;
      bottom: 85px;
    }

    &:before {
      width: 24px;
      height: 24px;
      @include fa($icon: $cross, $color: rgb(255, 255, 255));
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    @media screen and (min-width: 992px) {
      flex-direction: row;
      align-items:flex-start;
      justify-content: flex-start;
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-family: Merriweather_Bold;
    color: $purpl;
    line-height: 1.2;
  }

  &__tags {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: SFUIDisplay_Regular;
    color: rgb(97, 97, 97);
    line-height: 1.2;

    @media screen and (min-width: 768px) {
    font-size: 24px;
    }
  }

  &__tag {
    display: flex;
    align-items: center;

    &:last-child:after {
      display: none;
    }

    &:after {
      content: '';
      margin: 0 10px;
      width: 2px;
      height: 24px;
      background-color: rgb(224, 224, 224);
    }
  }

  &__line {
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 1px;
  }

  &__description,
  &__slider {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }

  &__description {
    padding-left: 15px;

    .modal__line {
      margin-bottom: 10px;
      margin-top: 15px;
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Merriweather_Bold;
    color: rgb(118, 75, 194);
    line-height: 1.2;

    &_none {
      list-style: none;

      .modal__item {
        margin-left: 25px;
      }
    }

    &_line {
      list-style: none;

      .modal__item {
        margin-left: 25px;
      }

      .modal__item:before {
        content: '-';
        margin-right: 5px;
      }
    }

    &_standart {
      .modal__item {
        margin-left: 30px;
      }
    }
  }

  &__item {
    font-size: 14px;
    font-family: SFUIDisplay_Regular;
    color: rgb(117, 117, 117);
    line-height: 1.5;

    &:first-child {
      margin-top: 15px;
    }
  }
}

.articul {
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFUIDisplay_Regular;
  color: rgb(117, 117, 117);
}

.overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  filter:alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
