.my-nav {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 1.2;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &::after,
    &::before {
      display: none;
    }
  }

  &__item,
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list {
    width: 100%;
    order: 2;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 18px;
    @media screen and (min-width: 768px) {
      width: 33.33%;
      order: initial;
      justify-content: flex-start;
    }
  }

  &__item {
    padding-left: 18px;
  }

  &__link {
    display: inline-block;
    width: 100%;

    &:after {
      position: relative;
      right: 7%;
      top: 4px;
      width: 110%;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &__logo {
    padding: 0 15px;
  }

  &__text {
    text-align: center;
    padding: 15px 0;
    @media screen and (min-width: 768px) {
      padding: 0;
      width: 33.33%;
    }
  }

  &__phone {
    color: rgb(255,255,255);
    white-space: nowrap;
  }
}
@mixin nav-link($color: $purpl-icon, $color-text: $purpl) {
  &__link {
    transition: color 0.3s;
    color: inherit;

    &:after {
      transition: background-image 0.3s;
      background-repeat: no-repeat;
      @include fa($icon: $link_hover, $color: transparent);
    }

    &:focus,
    &:hover {
      color: $color-text;

      &:after {
        @include fa($icon: $link_hover, $color: $color);
      }
    }

    &_active {
      color: $color-text;

      &:after {
        @include fa($icon: $link_hover, $color: $color);
      }
    }
  }
}
