.product {
  transition: box-shadow 0.3s;
  background-size: 50%;
  background-position-y: 5px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  height: 200px;
  width: 120px;
  margin-left: 15px;
  margin-right: 15px;
  background-position-x: center;
  @media screen and (min-width: 768px) {
  margin-left: 15px;
  margin-right: 15px;
    background-position-y: 15px;
    margin-bottom: 50px;
    background-size: auto;
    width: 260px;
    height: 400px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
    @media screen and (min-width: 768px) {
      box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &__name {
    word-break: break-word;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Merriweather_Bold;
    color: rgb(118, 75, 194);
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
      font-size: 18px;
    }
  }

  &__catergory {
    word-break: break-word;
    text-align: center;
    margin-bottom: 7px;
    font-size: 10px;
    font-family: SFUIDisplay_Regular;
    color: rgb(97, 97, 97);
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      margin-bottom: 22px;
      font-size: 16px;
    }
  }
}
