.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    height: 25px;
    @media screen and (min-width: 1200px) {
      width: 130px;
      order: 0;
    }
  }
}

#range-max,
#range-min {
  font-size: 14px;
  font-family: SFUIDisplay_Regular;
  color: rgb(117, 117, 117);
  line-height: 1.2;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(215, 215, 215);
  border-radius: 5px;
  background-color: #fff;
  width: 34px;
  height: 24px;
  @media screen and (min-width: 1200px) {
    width: 54px;
    height: 34px;
  }
}

#slider-range {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: center;

  .ui-slider-handle {
    top: auto;
  }

  .ui-state-default {
    border-radius: 5px;
    background-color: rgb(118, 75, 194);
    width: 20px;
    height: 20px;

    &:focus {
      outline: none;
    }
  }

  .ui-slider-horizontal {
    height: 3px;
  }

  .ui-slider-range {
    background-color: rgb(156, 99, 255);
    height: 3px;
  }
}
