@font-face {
  font-family: Merriweather_Bold;
  src: url("../fonts/Merriweather-Bold.ttf"); }

@font-face {
  font-family: Roboto_Regular;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto_Bold;
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Myriad_Pro;
  src: url("../fonts/Myriad_Pro.otf"); }

@font-face {
  font-family: SFUIDisplay_Thin;
  src: url("../fonts/SFUIDisplay-Thin.otf"); }

@font-face {
  font-family: SFUIDisplay_Bold;
  src: url("../fonts/SFUIDisplay-Bold.otf"); }

@font-face {
  font-family: SFUIDisplay_Regular;
  src: url("../fonts/SFUIDisplay-Regular.otf"); }

@font-face {
  font-family: SFUIDisplay_Medium;
  src: url("../fonts/SFUIDisplay-Medium.otf"); }

@font-face {
  font-family: SFUIDisplay_Light;
  src: url("../fonts/SFUIDisplay-Light.otf"); }

.padding-0 {
  padding: 0; }

.bg-white {
  background-color: #fff; }

.bg-purpl {
  background-color: #764bc2; }

.app {
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.text-purpl {
  color: #764bc2; }

.title {
  margin: 0;
  font-family: "Merriweather_Bold";
  color: #e3574e;
  line-height: 1.111;
  white-space: nowrap; }

.zoomLens {
  width: 235px !important;
  height: 310px !important;
  border-style: none !important;
  background-image: url("../images/corner.png");
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-position: center !important; }

.checkbox {
  display: none; }
  .checkbox__label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .checkbox + .checkbox__label:before {
    margin-right: 10px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #d7d7d7;
    background-color: white; }
  .checkbox:checked + .checkbox__label:before {
    background-color: #764bc2;
    border: none; }
  .checkbox + .checkbox__label:after {
    position: relative;
    right: calc(100% - 20px);
    content: '';
    width: 14px;
    line-height: 11px;
    height: 11px; }
  .checkbox:checked + .checkbox__label:after {
    position: relative;
    right: calc(100% - 20px);
    content: '';
    width: 14px;
    line-height: 11px;
    height: 11px;
    content: '\00A0';
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 14 11'><path d='M13.673,2.285 L5.427,10.842 L0.617,5.850 L1.991,4.424 L5.427,7.989 L12.299,0.859 L13.673,2.285 Z'/></svg>"); }

.colors {
  height: 50px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 0;
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .colors {
      height: 64px;
      width: calc(100% - 40px);
      padding: 20px 0;
      margin-left: 20px;
      margin-right: 20px; } }
  .colors__radio {
    display: none; }
  .colors__border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    width: 32px;
    height: 32px; }
    @media screen and (max-width: 767px) {
      .colors__border:nth-child(n+8) {
        display: none; } }
    @media screen and (min-width: 768px) {
      .colors__border:nth-child(n+14) {
        display: none; } }
  .colors__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    margin-bottom: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px; }
  .colors__radio:not(:checked) + .colors__border {
    border-color: transparent !important; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: #ecedee; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #764bc2; }

::-webkit-scrollbar-thumb:hover {
  background-color: #b171ff; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0; }

::-webkit-scrollbar {
  width: 4px; }

.my-nav {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 1.2; }
  .my-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .my-nav .container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .my-nav .container::after, .my-nav .container::before {
      display: none; }
  .my-nav__item, .my-nav__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .my-nav__list {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 18px; }
    @media screen and (min-width: 768px) {
      .my-nav__list {
        width: 33.33%;
        -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
        order: initial;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  .my-nav__item {
    padding-left: 18px; }
  .my-nav__link {
    display: inline-block;
    width: 100%; }
    .my-nav__link:after {
      position: relative;
      right: 7%;
      top: 4px;
      width: 110%; }
    .my-nav__link:focus, .my-nav__link:hover {
      text-decoration: none; }
  .my-nav__logo {
    padding: 0 15px; }
  .my-nav__text {
    text-align: center;
    padding: 15px 0; }
    @media screen and (min-width: 768px) {
      .my-nav__text {
        padding: 0;
        width: 33.33%; } }
  .my-nav__phone {
    color: white;
    white-space: nowrap; }

.header {
  max-height: 900px;
  overflow: hidden;
  background-image: url("../images/header-bg.png");
  background-position: center;
  background-size: cover;
  font-family: SFUIDisplay_Bold;
  color: #ffc7bf; }
  .header .my-nav .container {
    padding-top: 20px; }
  .header__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: inherit; }
    .header__link:after {
      -webkit-transition: background-image 0.3s;
      transition: background-image 0.3s;
      background-repeat: no-repeat;
      content: '\00A0';
      display: inline-block;
      background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='transparent' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }
    .header__link:focus, .header__link:hover {
      color: #764bc2; }
      .header__link:focus:after, .header__link:hover:after {
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }
    .header__link_active {
      color: #764bc2; }
      .header__link_active:after {
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }
  .header .header-slider {
    width: 100%;
    max-height: 829px;
    overflow-x: hidden; }
    .header .header-slider .swiper-container {
      width: 100%; }
    .header .header-slider .swiper-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header .header-slider__slide_1 {
      margin: 19px 46.66667px 19px 63.33333px; }
      @media screen and (min-width: 768px) {
        .header .header-slider__slide_1 {
          margin: 28.5px 70px 28.5px 95px; } }
      @media screen and (min-width: 992px) {
        .header .header-slider__slide_1 {
          margin: 57px 140px 57px 190px; } }
    .header .header-slider__slide_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 30px 50px 50px; }
      .header .header-slider__slide_2 .header-slider__img {
        width: 40%; }
        @media screen and (min-width: 768px) {
          .header .header-slider__slide_2 .header-slider__img {
            width: 30%; } }
      @media screen and (min-width: 768px) {
        .header .header-slider__slide_2 {
          margin-top: 30px;
          margin-bottom: 100px;
          margin-left: 130px; } }
      @media screen and (min-width: 992px) {
        .header .header-slider__slide_2 {
          margin-top: 65px;
          margin-bottom: 145px;
          margin-left: 120px; } }
    .header .header-slider__title {
      margin-left: -10px;
      font-size: 20px;
      font-family: Merriweather_Bold;
      color: #fffefe;
      line-height: 1.458; }
      @media screen and (min-width: 500px) {
        .header .header-slider__title {
          font-size: 20px; } }
      @media screen and (min-width: 768px) {
        .header .header-slider__title {
          font-size: 24px; } }
      @media screen and (min-width: 992px) {
        .header .header-slider__title {
          font-size: 32px; } }
      @media screen and (min-width: 1200px) {
        .header .header-slider__title {
          font-size: 48px; } }
    .header .header-slider__pagination {
      z-index: 2;
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .header .header-slider__pagination {
          margin-bottom: 57px; } }
      .header .header-slider__pagination .swiper-pagination-bullet {
        border-style: solid;
        border-width: 2px;
        border-color: white;
        background-color: transparent;
        width: 15px;
        height: 15px;
        opacity: 1; }
      .header .header-slider__pagination .swiper-pagination-bullet-active {
        background-color: white; }
    .header .header-slider__next, .header .header-slider__prev {
      z-index: 2;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: background-image 0.2s;
      transition: background-image 0.2s;
      position: absolute;
      width: 91px;
      height: 121px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      @media screen and (min-width: 768px) {
        .header .header-slider__next, .header .header-slider__prev {
          width: 183px;
          height: 227px;
          margin-top: -40px; } }
      .header .header-slider__next:hover, .header .header-slider__prev:hover {
        cursor: pointer; }
    .header .header-slider__next {
      right: 0;
      background-image: url("../images/arrow-next.png"); }
      .header .header-slider__next:hover {
        background-image: url("../images/arrow-next_hover.png"); }
    .header .header-slider__prev {
      background-image: url("../images/arrow-prev.png"); }
      .header .header-slider__prev:hover {
        background-image: url("../images/arrow-prev_hover.png"); }
  .header .modal-catalog {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    margin: auto;
    width: 80%;
    max-width: 768px; }
    @media screen and (min-width: 768px) {
      .header .modal-catalog {
        width: 50%; } }
    .header .modal-catalog__container {
      width: 100%;
      height: 80%;
      background-color: #fff;
      border-radius: 5px;
      background-image: url("../images/modal-bg.png");
      background-size: contain; }
      @media screen and (min-width: 768px) {
        .header .modal-catalog__container {
          height: 330px; } }
    .header .modal-catalog__group-container {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 15px;
      position: relative;
      bottom: 50px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto; }
    .header .modal-catalog__group {
      padding: 15px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header .modal-catalog__img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      display: none;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      @media screen and (min-width: 768px) {
        .header .modal-catalog__img {
          display: block; } }
    .header .modal-catalog__content {
      padding: 0 15px;
      margin: 0;
      background-color: #fff; }
    .header .modal-catalog__list {
      background-color: #fff;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
    .header .modal-catalog__item {
      margin-bottom: 10px; }
    .header .modal-catalog__link {
      white-space: nowrap; }
    .header .modal-catalog__close {
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      float: right;
      position: relative;
      left: 25px;
      bottom: 25px;
      border-radius: 5px;
      background-color: #764bc2;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      .header .modal-catalog__close:before {
        width: 24px;
        height: 24px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 24 24'><path d='M23.314,20.485 L20.485,23.314 L12.000,14.828 L3.515,23.314 L0.686,20.485 L9.172,12.000 L0.686,3.515 L3.515,0.686 L12.000,9.171 L20.485,0.686 L23.314,3.515 L14.828,12.000 L23.314,20.485 Z'/></svg>"); }

.main-content {
  background-color: #fff;
  background-image: url("../images/main-bg.png");
  background-size: 100%;
  padding-top: 90px; }
  .main-content__title {
    font-size: 30px; }
    @media (min-width: 400px) {
      .main-content__title {
        font-size: 42px; } }
    @media (min-width: 768px) {
      .main-content__title {
        font-size: 72px; } }
  .main-content__content {
    font-size: 14px;
    font-family: SFUIDisplay_Regular;
    color: #757575;
    line-height: 1.5; }
    .main-content__content:first-child {
      padding-top: 15px; }
  .main-content .advantage {
    padding-top: 50px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .main-content .advantage {
        padding-top: 150px;
        padding-bottom: 120px; } }
    .main-content .advantage__col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 50%;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .main-content .advantage__col {
          width: 33.33333%; } }
      @media screen and (min-width: 1200px) {
        .main-content .advantage__col {
          width: 16.66667%; } }
      .main-content .advantage__col:nth-child(1) .advantage__icon:before {
        width: 48px;
        line-height: 71px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 48 71'><path d='M47.079,47.289 C47.079,56.354 43.804,64.777 38.092,70.403 C37.817,70.673 37.447,70.826 37.062,70.826 L10.071,70.826 C9.686,70.826 9.316,70.673 9.040,70.403 C3.328,64.777 0.054,56.354 0.054,47.289 C0.054,39.014 2.835,31.173 7.717,25.593 C6.546,23.188 5.932,20.539 5.932,17.870 C5.932,8.136 13.842,0.218 23.566,0.218 C33.291,0.218 41.201,8.136 41.201,17.870 C41.201,20.539 40.587,23.188 39.416,25.593 C44.298,31.173 47.079,39.014 47.079,47.289 ZM10.682,67.883 L36.451,67.883 C40.743,63.435 43.418,57.144 44.012,50.231 L3.120,50.231 C3.715,57.144 6.390,63.435 10.682,67.883 ZM4.432,37.691 C3.508,40.717 2.993,43.955 2.993,47.289 L44.140,47.289 C44.140,43.955 43.625,40.717 42.701,37.691 C39.243,34.661 34.385,32.443 30.314,31.112 C31.824,33.711 32.327,36.533 32.364,36.751 C32.447,37.251 32.266,37.761 31.885,38.095 C31.615,38.336 31.267,38.463 30.914,38.463 C30.774,38.463 30.630,38.443 30.492,38.402 C29.874,38.216 25.803,36.914 23.567,34.472 C21.330,36.914 17.259,38.216 16.640,38.402 C16.503,38.443 16.359,38.463 16.219,38.463 C15.866,38.463 15.518,38.336 15.248,38.095 C14.867,37.761 14.686,37.251 14.769,36.751 C14.806,36.533 15.309,33.711 16.819,31.112 C12.748,32.443 7.890,34.661 4.432,37.691 ZM29.337,16.933 C29.123,17.480 28.598,17.870 27.975,17.870 C27.164,17.870 26.506,17.212 26.506,16.399 C26.506,16.039 26.650,15.721 26.865,15.465 C25.499,14.427 24.387,13.158 23.567,11.836 C22.746,13.158 21.634,14.427 20.269,15.465 C20.483,15.721 20.627,16.039 20.627,16.399 C20.627,17.212 19.969,17.870 19.158,17.870 C18.535,17.870 18.010,17.480 17.796,16.933 C16.843,17.356 15.821,17.610 14.763,17.736 C14.762,17.781 14.749,17.824 14.749,17.870 C14.749,22.737 18.704,26.696 23.566,26.696 C28.429,26.696 32.384,22.737 32.384,17.870 C32.384,17.824 32.371,17.781 32.370,17.736 C31.312,17.610 30.290,17.356 29.337,16.933 ZM31.776,14.716 C30.726,11.989 28.378,9.913 25.480,9.267 C26.394,11.396 28.732,13.972 31.776,14.716 ZM21.653,9.267 C18.754,9.913 16.407,11.989 15.357,14.716 C18.400,13.972 20.739,11.396 21.653,9.267 ZM23.566,29.638 C20.863,29.638 19.287,32.343 18.452,34.525 C20.363,33.584 22.097,32.299 22.097,31.109 C22.097,30.295 22.754,29.638 23.566,29.638 C24.379,29.638 25.036,30.295 25.036,31.109 C25.036,32.310 26.781,33.598 28.698,34.538 C27.877,32.354 26.305,29.638 23.566,29.638 ZM36.356,25.098 C37.602,22.891 38.262,20.390 38.262,17.870 C38.262,9.760 31.669,3.160 23.567,3.160 C15.464,3.160 8.871,9.759 8.871,17.870 C8.871,20.389 9.531,22.891 10.777,25.098 C11.092,25.662 11.006,26.367 10.561,26.835 C8.991,28.491 7.665,30.422 6.556,32.519 C10.148,30.331 14.123,28.795 17.417,27.854 C14.066,25.778 11.810,22.096 11.810,17.870 C11.810,11.382 17.083,6.102 23.567,6.102 C30.050,6.102 35.323,11.382 35.323,17.870 C35.323,22.096 33.067,25.778 29.716,27.854 C33.010,28.795 36.985,30.330 40.577,32.519 C39.468,30.422 38.142,28.491 36.571,26.835 C36.126,26.367 36.040,25.662 36.356,25.098 ZM23.568,24.581 C22.467,24.581 21.574,24.116 21.574,23.541 C21.574,22.966 25.562,22.966 25.562,23.541 C25.562,24.116 24.669,24.581 23.568,24.581 Z'/></svg>"); }
      .main-content .advantage__col:nth-child(2) .advantage__icon:before {
        width: 67px;
        line-height: 78px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 67 78'><path d='M66.498,39.831 C66.498,50.543 62.242,60.594 54.816,67.524 L54.816,73.329 C54.816,75.612 52.958,77.470 50.675,77.470 L40.940,77.470 C40.003,77.470 39.241,76.709 39.241,75.773 L39.241,75.592 C37.305,75.973 35.346,76.173 33.401,76.173 C31.455,76.173 29.496,75.973 27.560,75.592 L27.560,75.755 C27.560,76.701 26.790,77.470 25.844,77.470 L15.897,77.470 C13.740,77.470 11.985,75.716 11.985,73.559 L11.985,67.522 C4.560,60.594 0.304,50.543 0.304,39.831 C0.304,34.076 1.507,28.574 3.861,23.461 L3.236,18.910 L5.882,19.169 L5.890,19.151 L5.893,19.169 L6.183,19.198 C9.733,13.670 14.926,10.177 22.000,8.542 C23.847,4.059 28.258,0.893 33.401,0.893 C38.543,0.893 42.955,4.059 44.800,8.542 C51.874,10.176 57.067,13.669 60.617,19.198 L60.907,19.169 L60.910,19.151 L60.919,19.169 L63.564,18.910 L62.939,23.461 C65.294,28.574 66.498,34.076 66.498,39.831 ZM41.837,74.875 L50.675,74.875 C51.526,74.875 52.220,74.182 52.220,73.329 L52.222,73.329 L52.222,69.886 L52.222,62.574 C51.983,62.841 51.731,63.095 51.481,63.350 C51.391,63.441 51.308,63.536 51.217,63.626 C50.710,64.129 50.180,64.607 49.634,65.065 C49.522,65.159 49.409,65.249 49.296,65.340 C48.135,66.282 46.894,67.119 45.586,67.843 C45.496,67.892 45.408,67.940 45.318,67.988 C44.199,68.589 43.040,69.116 41.837,69.542 L41.837,74.875 ZM27.560,72.949 C31.429,73.782 35.372,73.782 39.241,72.949 L39.241,70.273 C37.363,70.720 35.414,70.981 33.401,70.981 C31.388,70.981 29.438,70.720 27.560,70.273 L27.560,72.949 ZM14.581,69.884 L14.581,73.559 C14.581,74.284 15.171,74.875 15.897,74.875 L24.964,74.875 L24.964,69.542 C23.763,69.116 22.607,68.590 21.490,67.990 C21.396,67.940 21.303,67.889 21.211,67.838 C19.909,67.118 18.673,66.284 17.515,65.347 C17.397,65.251 17.279,65.156 17.162,65.059 C16.620,64.602 16.091,64.128 15.588,63.627 C15.494,63.536 15.409,63.439 15.318,63.345 C15.070,63.091 14.818,62.838 14.581,62.573 L14.581,69.884 ZM14.435,58.138 C14.650,58.465 14.884,58.775 15.114,59.088 C15.300,59.340 15.482,59.595 15.676,59.838 C15.898,60.115 16.132,60.378 16.365,60.644 C16.598,60.908 16.830,61.171 17.074,61.424 C17.297,61.657 17.530,61.880 17.762,62.102 C18.042,62.369 18.328,62.631 18.622,62.885 C18.844,63.076 19.069,63.262 19.297,63.444 C19.632,63.710 19.976,63.965 20.325,64.212 C20.534,64.360 20.743,64.510 20.957,64.651 C21.361,64.917 21.776,65.165 22.197,65.405 C22.376,65.507 22.553,65.615 22.734,65.713 C23.251,65.989 23.781,66.242 24.320,66.478 C24.422,66.523 24.518,66.573 24.619,66.616 C27.322,67.755 30.288,68.385 33.401,68.385 C36.513,68.385 39.480,67.753 42.182,66.613 C42.281,66.572 42.376,66.521 42.474,66.478 C43.016,66.241 43.549,65.988 44.067,65.710 C44.249,65.614 44.422,65.506 44.600,65.405 C45.022,65.164 45.439,64.915 45.844,64.648 C46.057,64.508 46.264,64.360 46.473,64.212 C46.824,63.965 47.168,63.710 47.503,63.442 C47.731,63.260 47.955,63.074 48.177,62.883 C48.472,62.631 48.758,62.369 49.038,62.102 C49.270,61.880 49.503,61.656 49.727,61.423 C49.970,61.171 50.202,60.908 50.434,60.644 C50.668,60.378 50.903,60.115 51.125,59.837 C51.320,59.593 51.501,59.340 51.686,59.088 C51.917,58.775 52.150,58.464 52.366,58.138 C54.728,54.556 56.114,50.275 56.114,45.672 C56.114,42.610 55.498,39.691 54.392,37.021 C54.289,36.774 54.172,36.538 54.064,36.297 C53.892,35.919 53.716,35.544 53.524,35.177 C53.408,34.953 53.285,34.732 53.161,34.513 C52.928,34.099 52.681,33.693 52.422,33.296 C52.326,33.148 52.233,32.997 52.134,32.852 C51.368,31.736 50.505,30.691 49.556,29.729 C49.452,29.625 49.343,29.524 49.238,29.422 C48.864,29.057 48.477,28.706 48.080,28.369 C47.932,28.243 47.785,28.117 47.634,27.995 C47.234,27.673 46.821,27.368 46.399,27.072 C46.264,26.978 46.135,26.876 45.997,26.784 C42.389,24.372 38.058,22.958 33.401,22.958 C28.744,22.958 24.413,24.372 20.804,26.784 C20.668,26.875 20.538,26.976 20.403,27.071 C19.981,27.367 19.567,27.673 19.166,27.997 C19.017,28.117 18.870,28.242 18.724,28.366 C18.324,28.706 17.934,29.058 17.559,29.424 C17.456,29.526 17.349,29.624 17.248,29.727 C16.298,30.688 15.435,31.733 14.668,32.851 C14.568,32.997 14.474,33.148 14.378,33.297 C14.120,33.693 13.875,34.098 13.641,34.510 C13.515,34.731 13.392,34.954 13.274,35.182 C13.086,35.542 12.913,35.910 12.744,36.280 C12.631,36.529 12.511,36.774 12.405,37.029 C11.304,39.696 10.687,42.612 10.687,45.672 C10.687,50.275 12.073,54.556 14.435,58.138 ZM5.934,30.052 C5.881,29.975 5.828,29.899 5.776,29.820 C5.611,29.571 5.451,29.315 5.302,29.050 C5.295,29.036 5.286,29.024 5.279,29.010 C5.125,28.736 4.985,28.448 4.855,28.151 C4.841,28.119 4.823,28.091 4.810,28.058 C3.541,31.808 2.900,35.751 2.900,39.831 C2.900,48.940 6.178,57.530 11.985,63.854 L11.985,59.097 C9.533,55.201 8.091,50.606 8.091,45.672 C8.091,42.477 8.710,39.431 9.794,36.616 L9.232,35.113 C8.712,33.720 7.889,32.653 7.018,31.523 C6.840,31.293 6.663,31.061 6.487,30.826 C6.436,30.758 6.388,30.690 6.338,30.622 C6.201,30.435 6.066,30.246 5.934,30.052 ZM6.257,21.814 L6.754,25.427 C7.005,27.249 7.965,28.495 9.076,29.938 C9.828,30.914 10.664,32.001 11.302,33.346 C11.471,33.044 11.669,32.762 11.850,32.468 C12.067,32.115 12.273,31.757 12.507,31.415 C12.791,30.997 13.105,30.602 13.414,30.203 C13.599,29.963 13.775,29.715 13.969,29.481 C14.300,29.084 14.657,28.709 15.013,28.332 C15.223,28.111 15.423,27.882 15.640,27.668 C15.973,27.340 16.328,27.033 16.679,26.723 C16.955,26.480 17.225,26.231 17.510,26.000 C17.589,25.936 17.659,25.863 17.740,25.800 C17.601,25.725 17.462,25.650 17.324,25.575 C14.223,23.895 11.290,22.307 7.632,21.949 L6.257,21.814 ZM43.008,11.731 C42.999,11.675 42.991,11.618 42.982,11.563 C42.892,11.059 42.768,10.558 42.598,10.063 C41.282,6.245 37.662,3.489 33.401,3.489 C29.140,3.489 25.520,6.245 24.204,10.063 C24.033,10.558 23.909,11.059 23.819,11.563 C23.809,11.618 23.803,11.675 23.793,11.731 C23.714,12.227 23.666,12.725 23.666,13.224 C23.666,13.792 23.718,14.359 23.821,14.925 C23.946,14.871 24.068,14.827 24.193,14.776 C24.355,14.711 24.515,14.642 24.679,14.581 C24.718,14.567 24.756,14.549 24.795,14.534 L24.795,14.533 C25.156,14.401 25.533,14.290 25.905,14.177 C26.419,14.020 26.945,13.886 27.477,13.765 C27.708,13.713 27.934,13.653 28.169,13.608 C28.606,13.523 29.054,13.461 29.503,13.400 C29.574,13.390 29.644,13.376 29.716,13.366 C29.814,13.353 29.913,13.343 30.012,13.335 C30.478,13.282 30.949,13.245 31.425,13.218 C31.504,13.215 31.581,13.203 31.661,13.199 C32.122,13.163 32.589,13.143 33.058,13.143 C33.098,13.143 33.137,13.149 33.176,13.149 C33.770,13.154 34.366,13.182 34.952,13.245 C34.974,13.247 34.996,13.252 35.018,13.253 C35.290,13.277 35.557,13.322 35.828,13.355 C36.273,13.408 36.719,13.457 37.159,13.534 C37.510,13.595 37.850,13.679 38.194,13.754 C38.529,13.827 38.863,13.894 39.193,13.980 C39.646,14.099 40.084,14.242 40.524,14.387 C40.726,14.454 40.931,14.512 41.131,14.584 C41.646,14.768 42.143,14.976 42.635,15.194 C42.722,15.233 42.816,15.261 42.901,15.301 C43.056,14.614 43.135,13.919 43.135,13.224 C43.135,12.725 43.087,12.227 43.008,11.731 ZM45.592,11.397 C45.600,11.448 45.597,11.499 45.604,11.549 C45.679,12.098 45.731,12.655 45.731,13.224 C45.731,14.344 45.571,15.460 45.257,16.554 C46.395,17.268 47.434,18.082 48.338,18.986 C48.846,19.494 48.846,20.314 48.338,20.822 C48.085,21.075 47.753,21.202 47.421,21.202 C47.088,21.202 46.756,21.075 46.503,20.822 C45.711,20.030 44.800,19.319 43.794,18.695 L43.509,18.537 C43.354,18.445 43.191,18.362 43.032,18.275 C42.442,17.949 41.828,17.655 41.193,17.390 C41.161,17.376 41.128,17.362 41.096,17.348 C40.477,17.094 39.838,16.871 39.187,16.675 C39.137,16.660 39.091,16.642 39.041,16.628 C38.357,16.429 37.658,16.261 36.946,16.128 C36.940,16.127 36.932,16.125 36.926,16.123 C36.209,15.991 35.482,15.895 34.748,15.833 C34.130,15.782 33.507,15.753 32.880,15.752 C32.748,15.753 32.617,15.759 32.484,15.765 C32.207,15.768 31.934,15.786 31.660,15.800 C31.190,15.826 30.728,15.861 30.275,15.913 C30.184,15.923 30.095,15.936 30.004,15.948 C29.551,16.005 29.103,16.071 28.667,16.154 C28.531,16.182 28.398,16.215 28.262,16.245 C27.735,16.357 27.221,16.489 26.719,16.640 C26.353,16.750 25.985,16.861 25.631,16.993 C25.456,17.057 25.276,17.138 25.096,17.212 C24.876,17.302 24.660,17.399 24.445,17.496 C24.162,17.628 23.878,17.764 23.568,17.926 L23.436,17.995 C22.058,18.736 20.803,19.638 19.726,20.719 C19.218,21.228 18.397,21.229 17.889,20.722 C17.382,20.215 17.380,19.395 17.887,18.887 C18.939,17.830 20.137,16.926 21.432,16.150 C21.193,15.186 21.070,14.205 21.070,13.224 C21.070,12.655 21.122,12.098 21.198,11.551 C21.205,11.500 21.201,11.449 21.209,11.399 C15.975,12.866 11.981,15.539 9.088,19.522 C9.150,19.533 9.209,19.548 9.271,19.559 C9.453,19.590 9.629,19.630 9.807,19.666 C10.093,19.725 10.377,19.785 10.655,19.855 C10.840,19.901 11.023,19.953 11.206,20.005 C11.467,20.079 11.727,20.156 11.981,20.239 C12.163,20.297 12.343,20.360 12.522,20.423 C12.772,20.513 13.019,20.605 13.263,20.701 C13.436,20.770 13.609,20.838 13.780,20.910 C14.029,21.013 14.276,21.123 14.521,21.233 C14.681,21.306 14.840,21.377 14.999,21.451 C15.259,21.574 15.519,21.701 15.777,21.830 C15.916,21.899 16.055,21.966 16.194,22.037 C16.494,22.191 16.795,22.348 17.095,22.506 C17.189,22.556 17.284,22.603 17.378,22.654 C17.771,22.865 18.164,23.077 18.561,23.291 C19.084,23.575 19.623,23.859 20.161,24.143 C24.018,21.761 28.544,20.362 33.401,20.362 C38.257,20.362 42.783,21.761 46.642,24.143 C47.179,23.860 47.718,23.575 48.241,23.291 C48.640,23.076 49.034,22.863 49.429,22.653 C49.518,22.605 49.608,22.560 49.696,22.513 C50.002,22.350 50.307,22.191 50.614,22.035 C50.749,21.966 50.884,21.901 51.019,21.834 C51.281,21.704 51.544,21.574 51.809,21.450 C51.965,21.377 52.122,21.307 52.279,21.235 C52.527,21.124 52.776,21.013 53.028,20.908 C53.196,20.837 53.366,20.770 53.538,20.702 C53.784,20.605 54.035,20.511 54.287,20.422 C54.465,20.358 54.642,20.297 54.821,20.239 C55.079,20.156 55.339,20.078 55.603,20.004 C55.783,19.953 55.965,19.901 56.149,19.855 C56.427,19.785 56.713,19.723 56.999,19.665 C57.177,19.629 57.352,19.589 57.534,19.558 C57.596,19.547 57.655,19.531 57.717,19.521 C54.820,15.538 50.826,12.864 45.592,11.397 ZM59.171,21.949 C55.512,22.307 52.581,23.895 49.478,25.575 C49.340,25.650 49.202,25.725 49.063,25.800 C49.142,25.864 49.212,25.936 49.291,26.000 C49.578,26.234 49.849,26.483 50.127,26.729 C50.476,27.037 50.828,27.341 51.159,27.667 C51.381,27.886 51.586,28.120 51.800,28.347 C52.150,28.718 52.502,29.086 52.829,29.479 C53.030,29.719 53.211,29.975 53.403,30.223 C53.705,30.614 54.013,31.003 54.293,31.412 C54.529,31.758 54.739,32.121 54.958,32.478 C55.136,32.769 55.333,33.047 55.500,33.346 C56.138,31.999 56.973,30.914 57.726,29.938 C58.837,28.493 59.798,27.248 60.048,25.427 L60.545,21.814 L59.171,21.949 ZM61.944,28.150 C61.815,28.447 61.674,28.735 61.521,29.009 C61.515,29.023 61.506,29.036 61.498,29.049 C61.349,29.315 61.189,29.569 61.024,29.818 C60.972,29.896 60.920,29.973 60.867,30.050 C60.734,30.243 60.598,30.435 60.461,30.622 C60.412,30.688 60.364,30.757 60.313,30.823 C60.138,31.058 59.960,31.292 59.782,31.521 C58.911,32.652 58.088,33.720 57.568,35.112 L57.006,36.615 C58.091,39.431 58.710,42.477 58.710,45.672 C58.710,50.605 57.268,55.200 54.816,59.097 L54.816,63.855 C60.623,57.530 63.902,48.940 63.902,39.831 C63.902,35.751 63.260,31.808 61.990,28.057 C61.976,28.090 61.959,28.119 61.944,28.150 ZM34.050,42.427 C40.490,42.427 45.731,47.666 45.731,54.108 C45.731,60.550 40.490,65.789 34.050,65.789 C27.609,65.789 22.368,60.550 22.368,54.108 C22.368,47.666 27.609,42.427 34.050,42.427 ZM34.050,63.193 C39.060,63.193 43.135,59.117 43.135,54.108 C43.135,49.099 39.060,45.023 34.050,45.023 C29.040,45.023 24.964,49.099 24.964,54.108 C24.964,59.117 29.040,63.193 34.050,63.193 ZM30.805,51.512 C31.876,51.512 32.752,52.388 32.752,53.459 C32.752,54.530 31.876,55.406 30.805,55.406 C29.734,55.406 28.858,54.530 28.858,53.459 C28.858,52.388 29.734,51.512 30.805,51.512 ZM37.294,51.512 C38.365,51.512 39.241,52.388 39.241,53.459 C39.241,54.530 38.365,55.406 37.294,55.406 C36.223,55.406 35.348,54.530 35.348,53.459 C35.348,52.388 36.223,51.512 37.294,51.512 ZM41.188,38.533 C40.117,38.533 39.241,37.657 39.241,36.586 C39.241,35.515 40.117,34.639 41.188,34.639 C42.259,34.639 43.135,35.515 43.135,36.586 C43.135,37.657 42.259,38.533 41.188,38.533 ZM26.911,38.533 C25.840,38.533 24.964,37.657 24.964,36.586 C24.964,35.515 25.840,34.639 26.911,34.639 C27.982,34.639 28.858,35.515 28.858,36.586 C28.858,37.657 27.982,38.533 26.911,38.533 Z'/></svg>"); }
      .main-content .advantage__col:nth-child(3) .advantage__icon:before {
        width: 78px;
        height: 83px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 78 83'><path d='M64.478,39.432 L65.278,50.168 L59.722,51.523 L77.434,69.235 L66.225,71.277 L64.183,82.486 L39.689,57.992 L39.200,57.791 L38.711,57.992 L14.217,82.486 L12.175,71.277 L0.966,69.235 L18.678,51.523 L13.122,50.168 L13.921,39.432 L6.967,31.219 L13.921,23.004 L13.122,12.269 L23.581,9.718 L29.237,0.555 L39.200,4.646 L49.163,0.555 L54.818,9.718 L65.278,12.269 L64.478,23.004 L71.433,31.219 L64.478,39.432 ZM65.558,68.810 L72.196,67.600 L56.826,52.230 L54.818,52.719 L52.776,56.027 L61.241,64.492 L65.558,68.810 ZM62.548,77.249 L63.757,70.610 L51.402,58.255 L49.163,61.883 L47.309,61.122 L45.801,60.502 L62.548,77.249 ZM15.852,77.249 L32.599,60.502 L29.237,61.883 L26.998,58.255 L14.642,70.610 L15.852,77.249 ZM6.203,67.600 L12.841,68.810 L17.159,64.492 L25.623,56.027 L23.581,52.719 L21.574,52.230 L6.203,67.600 ZM62.577,14.232 L53.199,11.945 L48.131,3.732 L39.200,7.399 L30.269,3.732 L25.200,11.945 L15.822,14.232 L16.538,23.855 L10.304,31.219 L16.538,38.582 L15.822,48.205 L20.786,49.415 L25.200,50.492 L27.474,54.176 L28.775,56.284 L28.849,56.404 L30.269,58.706 L39.200,55.037 L48.130,58.706 L49.550,56.404 L49.867,55.892 L50.925,54.176 L53.199,50.492 L57.614,49.415 L62.577,48.205 L61.861,38.582 L68.095,31.219 L61.861,23.855 L62.577,14.232 ZM39.200,52.720 C27.344,52.720 17.698,43.074 17.698,31.218 C17.698,19.362 27.344,9.716 39.200,9.716 C51.056,9.716 60.702,19.362 60.702,31.218 C60.702,43.075 51.056,52.720 39.200,52.720 ZM39.200,12.263 C28.748,12.263 20.244,20.767 20.244,31.219 C20.244,41.670 28.748,50.174 39.200,50.174 C49.652,50.174 58.155,41.670 58.155,31.218 C58.155,20.766 49.651,12.263 39.200,12.263 ZM46.736,42.541 L39.200,38.578 L31.663,42.541 L33.103,34.149 L27.006,28.206 L35.432,26.982 L39.200,19.347 L42.968,26.982 L51.394,28.206 L45.297,34.149 L46.736,42.541 ZM45.921,29.984 L41.277,29.309 L39.200,25.101 L37.123,29.309 L32.479,29.984 L35.839,33.259 L35.046,37.885 L39.200,35.701 L43.354,37.885 L42.560,33.259 L45.921,29.984 Z'/></svg>"); }
      .main-content .advantage__col:nth-child(4) .advantage__icon:before {
        width: 71px;
        line-height: 64px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 71 64'><path d='M64.004,46.341 C63.453,52.601 60.577,57.225 55.433,60.102 C50.857,62.661 44.364,63.905 35.583,63.905 C26.802,63.905 20.309,62.661 15.734,60.102 C10.589,57.225 7.714,52.601 7.162,46.341 C3.244,45.692 0.247,42.294 0.247,38.210 C0.247,34.160 3.194,30.785 7.062,30.096 L7.062,28.874 C7.062,13.207 19.857,0.462 35.583,0.462 C51.310,0.462 64.104,13.207 64.104,28.874 L64.104,30.096 C67.973,30.785 70.919,34.160 70.919,38.210 C70.919,42.294 67.922,45.692 64.004,46.341 ZM7.062,33.079 C4.818,33.714 3.169,35.773 3.169,38.210 C3.169,40.646 4.818,42.705 7.062,43.340 L7.062,33.079 ZM61.182,28.874 C61.182,14.928 49.887,3.564 35.933,3.376 C37.200,4.028 38.362,4.842 39.383,5.812 C41.935,8.235 43.458,11.485 43.458,14.505 C43.458,19.313 39.532,23.224 34.705,23.224 C30.683,23.224 27.411,19.965 27.411,15.958 C27.411,12.592 30.160,9.853 33.539,9.853 C34.346,9.853 35.000,10.505 35.000,11.309 C35.000,12.112 34.346,12.764 33.539,12.764 C31.771,12.764 30.333,14.197 30.333,15.958 C30.333,18.360 32.294,20.314 34.705,20.314 C37.921,20.314 40.537,17.708 40.537,14.505 C40.537,10.323 36.259,4.548 28.228,4.446 C17.687,7.602 9.984,17.358 9.984,28.874 L9.984,44.050 C9.984,50.441 12.332,54.862 17.164,57.564 C21.291,59.873 27.316,60.994 35.583,60.994 C43.850,60.994 49.875,59.873 54.002,57.564 C58.834,54.862 61.182,50.441 61.182,44.050 L61.182,28.874 ZM64.104,33.079 L64.104,43.340 C66.348,42.705 67.997,40.646 67.997,38.210 C67.997,35.773 66.348,33.714 64.104,33.079 ZM50.320,42.191 C48.770,42.191 47.514,40.940 47.514,39.396 C47.514,37.852 48.770,36.600 50.320,36.600 C51.870,36.600 53.126,37.852 53.126,39.396 C53.126,40.940 51.870,42.191 50.320,42.191 ZM35.583,57.677 C29.567,57.677 24.672,52.801 24.672,46.807 C24.672,46.004 25.326,45.352 26.133,45.352 L45.033,45.352 C45.840,45.352 46.494,46.004 46.494,46.807 C46.494,52.801 41.599,57.677 35.583,57.677 ZM35.790,48.263 L35.790,49.640 C35.790,50.444 35.136,51.095 34.329,51.095 C33.522,51.095 32.868,50.444 32.868,49.640 L32.868,48.263 L27.727,48.263 C28.416,51.959 31.676,54.767 35.583,54.767 C39.490,54.767 42.750,51.959 43.439,48.263 L35.790,48.263 ZM20.845,42.191 C19.296,42.191 18.040,40.940 18.040,39.396 C18.040,37.852 19.296,36.600 20.845,36.600 C22.395,36.600 23.652,37.852 23.652,39.396 C23.652,40.940 22.395,42.191 20.845,42.191 Z'/></svg>"); }
      .main-content .advantage__col:nth-child(5) .advantage__icon:before {
        width: 55px;
        line-height: 79px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 55 79'><path d='M48.165,78.863 L33.563,78.863 L6.794,78.863 C3.439,78.863 0.710,76.105 0.710,72.716 L0.710,40.750 C0.710,40.747 0.711,40.745 0.711,40.741 C0.712,40.601 0.745,40.462 0.794,40.328 C0.807,40.293 0.819,40.259 0.835,40.226 C0.849,40.197 0.855,40.167 0.871,40.140 L10.444,23.211 L10.444,6.324 C10.444,2.934 13.174,0.176 16.528,0.176 L38.431,0.176 C41.785,0.176 44.515,2.934 44.515,6.324 L44.515,23.211 L54.089,40.140 C54.193,40.326 54.249,40.535 54.249,40.750 L54.249,72.716 C54.249,76.105 51.520,78.863 48.165,78.863 ZM3.143,72.716 C3.143,74.749 4.781,76.404 6.794,76.404 L32.347,76.404 L32.347,41.979 L3.143,41.979 L3.143,72.716 ZM4.024,39.520 L32.858,39.520 L41.200,24.766 L12.367,24.766 L4.024,39.520 ZM42.081,6.324 C42.081,4.290 40.443,2.635 38.431,2.635 L16.528,2.635 C14.516,2.635 12.878,4.290 12.878,6.324 L12.878,22.307 L42.081,22.307 L42.081,6.324 ZM51.816,41.075 L43.298,26.014 L34.780,41.075 L34.780,76.404 L48.165,76.404 C50.178,76.404 51.816,74.749 51.816,72.716 L51.816,41.075 ZM21.396,7.553 L33.563,7.553 C36.248,7.553 38.431,9.759 38.431,12.472 C38.431,15.184 36.248,17.390 33.563,17.390 L21.396,17.390 C18.711,17.390 16.528,15.184 16.528,12.472 C16.528,9.759 18.711,7.553 21.396,7.553 ZM21.396,14.930 L33.563,14.930 C34.906,14.930 35.997,13.828 35.997,12.472 C35.997,11.116 34.906,10.012 33.563,10.012 L21.396,10.012 C20.053,10.012 18.962,11.116 18.962,12.472 C18.962,13.828 20.053,14.930 21.396,14.930 ZM10.444,65.339 L25.046,65.339 L25.046,67.798 L10.444,67.798 L10.444,65.339 ZM17.745,62.880 C13.719,62.880 10.444,59.572 10.444,55.503 C10.444,51.435 13.719,48.126 17.745,48.126 C21.771,48.126 25.046,51.435 25.046,55.503 C25.046,59.572 21.771,62.880 17.745,62.880 ZM17.745,50.585 C15.061,50.585 12.878,52.790 12.878,55.503 C12.878,58.215 15.061,60.421 17.745,60.421 C20.430,60.421 22.612,58.215 22.612,55.503 C22.612,52.790 20.430,50.585 17.745,50.585 Z'/></svg>"); }
      .main-content .advantage__col:nth-child(6) .advantage__icon:before {
        width: 60px;
        line-height: 66px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 60 66'><path d='M58.169,65.237 L1.856,65.237 C1.054,65.237 0.404,64.586 0.404,63.784 L0.404,52.513 C0.404,51.711 1.054,51.060 1.856,51.060 L34.192,51.060 L34.192,41.243 C34.192,40.440 34.842,39.789 35.644,39.789 L45.455,39.789 L45.455,29.971 C45.455,29.169 46.105,28.518 46.907,28.518 L58.169,28.518 C58.971,28.518 59.621,29.169 59.621,29.971 L59.621,63.784 C59.621,64.586 58.971,65.237 58.169,65.237 ZM3.307,53.966 L3.307,62.331 L45.455,62.331 L45.455,53.966 L3.307,53.966 ZM56.718,31.424 L48.359,31.424 L48.359,41.243 C48.359,42.045 47.709,42.695 46.907,42.695 L37.096,42.695 L37.096,51.060 L46.907,51.060 C47.709,51.060 48.359,51.711 48.359,52.513 L48.359,62.331 L56.718,62.331 L56.718,31.424 ZM35.644,37.059 L13.118,37.059 C12.317,37.059 11.666,36.409 11.667,35.607 L11.667,1.794 C11.667,0.992 12.317,0.341 13.119,0.341 L24.381,0.341 C25.183,0.341 25.833,0.992 25.833,1.794 L25.833,22.883 L35.644,22.883 C36.446,22.883 37.096,23.533 37.096,24.336 L37.096,35.607 C37.096,36.409 36.446,37.059 35.644,37.059 ZM34.192,25.789 L24.381,25.789 C23.579,25.789 22.929,25.138 22.929,24.336 L22.929,3.247 L14.570,3.247 L14.570,34.154 L34.192,34.154 L34.192,25.789 Z'/></svg>"); }
    .main-content .advantage__text {
      padding-top: 30px;
      font-size: 14px;
      font-family: SFUIDisplay_Bold;
      color: #757575;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }
  .main-content .catalog__title {
    font-size: 62px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .main-content .catalog__title {
        font-size: 72px; } }
  .main-content .catalog-nav {
    padding-top: 65px; }
    .main-content .catalog-nav__item, .main-content .catalog-nav__list {
      margin: 0;
      padding: 0;
      list-style: none; }
    .main-content .catalog-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .main-content .catalog-nav__item {
      height: 104px;
      width: 33.33333%; }
      .main-content .catalog-nav__item_active {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; }
        @media screen and (min-width: 500px) {
          .main-content .catalog-nav__item_active {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2; } }
        @media screen and (min-width: 768px) {
          .main-content .catalog-nav__item_active {
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0; } }
      @media screen and (min-width: 500px) {
        .main-content .catalog-nav__item {
          width: 25%; } }
      @media screen and (min-width: 992px) {
        .main-content .catalog-nav__item {
          width: 11.11111%; } }
      .main-content .catalog-nav__item:nth-child(1) .catalog-nav__link {
        background-color: #764bc2; }
      .main-content .catalog-nav__item:nth-child(2) .catalog-nav__link {
        background-color: #03a9f4; }
      .main-content .catalog-nav__item:nth-child(3) .catalog-nav__link {
        background-color: #ffc107; }
      .main-content .catalog-nav__item:nth-child(4) .catalog-nav__link {
        background-color: #e91e63; }
      .main-content .catalog-nav__item:nth-child(5) .catalog-nav__link {
        background-color: #8bc34a; }
      .main-content .catalog-nav__item:nth-child(6) .catalog-nav__link {
        background-color: #009688; }
      .main-content .catalog-nav__item:nth-child(7) .catalog-nav__link {
        background-color: #8597a0; }
      .main-content .catalog-nav__item:nth-child(8) .catalog-nav__link {
        background-color: #3f51b5; }
      .main-content .catalog-nav__item:nth-child(9) .catalog-nav__link {
        background-color: #ff5722; }
    .main-content .catalog-nav__items {
      width: 100%;
      height: 84px;
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .main-content .catalog-nav__link {
      -webkit-transition: height 0.5s;
      transition: height 0.5s;
      height: 84px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      text-align: center; }
      .main-content .catalog-nav__link_active {
        height: 104px; }
        .main-content .catalog-nav__link_active .catalog-nav__arrow {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .main-content .catalog-nav__link:focus, .main-content .catalog-nav__link:hover {
        text-decoration: none;
        height: 104px; }
        .main-content .catalog-nav__link:focus .catalog-nav__arrow, .main-content .catalog-nav__link:hover .catalog-nav__arrow {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
    .main-content .catalog-nav__number {
      position: absolute;
      -ms-flex-item-align: end;
      align-self: flex-end;
      font-size: 11px;
      font-family: SFUIDisplay_Regular;
      color: white;
      line-height: 1.2; }
    .main-content .catalog-nav__text {
      font-size: 14px;
      font-family: SFUIDisplay_Regular;
      color: white;
      line-height: 1.2; }
    .main-content .catalog-nav__arrow {
      display: none;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .main-content .catalog-nav__arrow:after {
        width: 62px;
        line-height: 14px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 62 14'><path d='M62.000,0.919 L31.000,8.162 L-0.000,0.919 L31.000,14.000 L62.000,0.919 Z'/></svg>"); }
  .main-content .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .main-content .filter {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
    .main-content .filter__col {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px; }
      @media screen and (min-width: 768px) {
        .main-content .filter__col {
          width: auto;
          max-width: 30%; } }
    .main-content .filter__title {
      white-space: normal;
      font-size: 16px;
      font-family: SFUIDisplay_Bold;
      color: #764bc2;
      text-transform: uppercase;
      line-height: 1.2; }
      @media screen and (min-width: 768px) {
        .main-content .filter__title {
          white-space: nowrap; } }
    .main-content .filter__checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 14px;
      font-family: SFUIDisplay_Regular;
      color: #757575;
      line-height: 1.2; }
  .main-content .catalog-slider {
    margin-top: 60px; }
    .main-content .catalog-slider .product {
      -webkit-transition: -webkit-box-shadow 0.3s;
      transition: -webkit-box-shadow 0.3s;
      transition: box-shadow 0.3s;
      transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
      background-size: 50%;
      background-position-y: 5px;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 5px;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
      height: 200px;
      width: 120px;
      margin-left: 15px;
      margin-right: 15px;
      background-position-x: center; }
      @media screen and (min-width: 768px) {
        .main-content .catalog-slider .product {
          margin-left: 15px;
          margin-right: 15px;
          background-position-y: 15px;
          margin-bottom: 50px;
          background-size: auto;
          width: 260px;
          height: 400px; } }
      .main-content .catalog-slider .product:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3); }
        @media screen and (min-width: 768px) {
          .main-content .catalog-slider .product:hover {
            -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3); } }
      .main-content .catalog-slider .product__wrapper {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .main-content .catalog-slider .product__name {
        word-break: break-word;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        font-family: Merriweather_Bold;
        color: #764bc2;
        line-height: 1.2; }
        @media screen and (min-width: 768px) {
          .main-content .catalog-slider .product__name {
            margin-bottom: 16px;
            font-size: 18px; } }
      .main-content .catalog-slider .product__catergory {
        word-break: break-word;
        text-align: center;
        margin-bottom: 7px;
        font-size: 10px;
        font-family: SFUIDisplay_Regular;
        color: #616161;
        line-height: 1.2; }
        @media screen and (min-width: 768px) {
          .main-content .catalog-slider .product__catergory {
            margin-bottom: 22px;
            font-size: 16px; } }
    .main-content .catalog-slider__bot {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-style: solid;
      border-width: 1px;
      border-color: #e0e0e0;
      background-color: white;
      width: 69px;
      height: 69px; }
    .main-content .catalog-slider__arrows {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      bottom: 75px;
      width: 100%;
      height: 75px; }
      .main-content .catalog-slider__arrows_next, .main-content .catalog-slider__arrows_prev {
        -webkit-transition: -webkit-box-shadow 0.3s;
        transition: -webkit-box-shadow 0.3s;
        transition: box-shadow 0.3s;
        transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #764bc2;
        width: 64px;
        height: 67px; }
        .main-content .catalog-slider__arrows_next:hover, .main-content .catalog-slider__arrows_prev:hover {
          cursor: pointer;
          background-color: #9c64ff;
          -webkit-box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8);
          box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8); }
        .main-content .catalog-slider__arrows_next:before, .main-content .catalog-slider__arrows_prev:before {
          width: 16px;
          line-height: 42px;
          content: '\00A0';
          display: inline-block;
          background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 16 42'><path d='M15.987,-0.000 L7.796,21.000 L15.987,42.000 L0.000,21.000 L15.987,-0.000 Z'/></svg>"); }
      .main-content .catalog-slider__arrows_next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
        .main-content .catalog-slider__arrows_next:before {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
      .main-content .catalog-slider__arrows_prev {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
  .main-content .swiper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-content .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-position: center; }
  .main-content .swiper-slide-active {
    z-index: 1; }
  .main-content .swiper-slide-active .catalog-slider__bot:first-child:before, .main-content .swiper-slide-active .catalog-slider__bot:last-child:after {
    bottom: 4px;
    height: 75px;
    width: 50%;
    content: '\00A0';
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 24px; }
  .main-content .swiper-slide-active .catalog-slider__bot:first-child:before {
    right: 5px;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M-0.000,23.000 L5.000,23.000 L5.000,5.000 L24.000,5.000 L24.000,-0.000 L-0.000,-0.000 L-0.000,23.000 Z"/></svg>'), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M-0.000,-0.000 L5.000,-0.000 L5.000,18.000 L24.000,18.000 L24.000,23.000 L-0.000,23.000 L-0.000,-0.000 Z"/></svg>');
    background-position: top left, bottom left; }
  .main-content .swiper-slide-active .catalog-slider__bot:last-child:after {
    float: right;
    left: 5px;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M24.000,23.000 L19.000,23.000 L19.000,5.000 L-0.000,5.000 L-0.000,-0.000 L24.000,-0.000 L24.000,23.000 Z"/></svg>'), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 490.193 490.193;" xml:space="preserve" fill="rgb(118, 75, 194)" viewBox="0 0 24 23"><path d="M24.000,-0.000 L19.000,-0.000 L19.000,18.000 L-0.000,18.000 L-0.000,23.000 L24.000,23.000 L24.000,-0.000 Z"/></svg>');
    background-position: top right, bottom right; }
  .main-content .gallery-top {
    width: 100%;
    height: 100%; }
    .main-content .gallery-top .swiper-slide {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media screen and (min-width: 1200px) {
        .main-content .gallery-top .swiper-slide {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; } }
  .main-content .gallery-thumbs {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 128px);
    height: 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .main-content .gallery-thumbs .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media screen and (max-width: 499px) {
        .main-content .gallery-thumbs .swiper-slide {
          padding-left: 10px;
          padding-right: 10px; } }
    .main-content .gallery-thumbs .swiper-wrapper {
      height: 69px; }
  .main-content .modal {
    overflow: visible;
    padding: 15px;
    border-radius: 5px;
    width: 1030px;
    max-width: 90%;
    height: 880px;
    max-height: 95%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    background-image: url("../images/modal-bg.png");
    background-size: cover; }
    .main-content .modal__slider {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin-bottom: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .main-content .modal .img-col {
      width: 67px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-content .modal .img-col__arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #764bc2;
        width: 67px;
        height: 64px; }
        .main-content .modal .img-col__arrow:before {
          width: 42px;
          line-height: 16px;
          content: '\00A0';
          display: inline-block;
          background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 42 16'><path d='M42.000,15.987 L21.000,7.796 L0.000,15.987 L21.000,0.000 L42.000,15.987 Z'/></svg>"); }
        .main-content .modal .img-col__arrow:hover {
          cursor: pointer;
          background-color: #9c64ff;
          -webkit-box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8);
          box-shadow: 0 10px 15px 0 rgba(118, 75, 194, 0.8); }
        .main-content .modal .img-col__arrow_top {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
        .main-content .modal .img-col__arrow_bot {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px; }
          .main-content .modal .img-col__arrow_bot:before {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
      .main-content .modal .img-col__gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .main-content .modal .img-col__img {
        display: block;
        width: 67px;
        height: 64px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-style: solid;
        border-width: 1px;
        border-color: #e0e0e0;
        background-color: white; }
        .main-content .modal .img-col__img:hover, .main-content .modal .img-col__img_active {
          border-color: #764bc2;
          border-width: 2px;
          width: 65px; }
    .main-content .modal .img-singl {
      width: 100%;
      max-width: 385px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main-content .modal .img-singl__img {
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .main-content .modal .img-singl__video {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0; }
        @media screen and (min-width: 768px) {
          .main-content .modal .img-singl__video {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-left: 35px; } }
        .main-content .modal .img-singl__video-block {
          margin-bottom: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding-left: 15px; }
          @media screen and (min-width: 768px) {
            .main-content .modal .img-singl__video-block:not(:last-child):after {
              content: '';
              margin-left: 15px;
              display: inline-block;
              height: 100%;
              width: 1px;
              background-color: #e0e0e0; } }
        .main-content .modal .img-singl__video-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 14px;
          font-family: SFUIDisplay_Regular;
          color: #764bc2;
          border-bottom: 1px solid #e0e0e0;
          line-height: 15px; }
          .main-content .modal .img-singl__video-link:before {
            padding-bottom: 15px;
            background-repeat: no-repeat;
            width: 52px;
            line-height: 34px;
            content: '\00A0';
            display: inline-block;
            background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(118, 75, 194)' viewBox='0 0 52 34'><path d='M51.000,34.000 L43.000,34.000 L9.000,34.000 L1.000,34.000 C0.448,34.000 -0.000,33.553 -0.000,33.000 L-0.000,25.000 L-0.000,17.000 L-0.000,9.000 L-0.000,1.000 C-0.000,0.447 0.448,-0.000 1.000,-0.000 L9.000,-0.000 L43.000,-0.000 L51.000,-0.000 C51.552,-0.000 52.000,0.447 52.000,1.000 L52.000,9.000 L52.000,17.000 L52.000,25.000 L52.000,33.000 C52.000,33.553 51.552,34.000 51.000,34.000 ZM8.000,2.000 L2.000,2.000 L2.000,8.000 L8.000,8.000 L8.000,2.000 ZM8.000,10.000 L2.000,10.000 L2.000,16.000 L8.000,16.000 L8.000,10.000 ZM8.000,18.000 L2.000,18.000 L2.000,24.000 L8.000,24.000 L8.000,18.000 ZM8.000,26.000 L2.000,26.000 L2.000,32.000 L8.000,32.000 L8.000,26.000 ZM42.000,25.000 L42.000,17.000 L42.000,9.000 L42.000,2.000 L10.000,2.000 L10.000,9.000 L10.000,17.000 L10.000,25.000 L10.000,32.000 L42.000,32.000 L42.000,25.000 ZM50.000,2.000 L44.000,2.000 L44.000,8.000 L50.000,8.000 L50.000,2.000 ZM50.000,10.000 L44.000,10.000 L44.000,16.000 L50.000,16.000 L50.000,10.000 ZM50.000,18.000 L44.000,18.000 L44.000,24.000 L50.000,24.000 L50.000,18.000 ZM50.000,26.000 L44.000,26.000 L44.000,32.000 L50.000,32.000 L50.000,26.000 ZM20.537,9.156 L31.537,16.156 C31.825,16.340 32.000,16.658 32.000,17.000 C32.000,17.342 31.825,17.660 31.537,17.844 L20.537,24.844 C20.374,24.947 20.187,25.000 20.000,25.000 C19.834,25.000 19.669,24.959 19.519,24.877 C19.199,24.701 19.000,24.365 19.000,24.000 L19.000,10.000 C19.000,9.635 19.199,9.299 19.518,9.123 C19.839,8.948 20.229,8.961 20.537,9.156 ZM21.000,22.179 L29.137,17.000 L21.000,11.821 L21.000,22.179 Z'/></svg>"); }
          .main-content .modal .img-singl__video-link:focus, .main-content .modal .img-singl__video-link:hover {
            text-decoration: none; }
    @media screen and (min-width: 768px) {
      .main-content .modal {
        padding: 60px; } }
    .main-content .modal__close {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 100%;
      height: 0; }
    .main-content .modal__cross {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 100;
      position: relative;
      left: 30px;
      bottom: 30px;
      border-radius: 5px;
      background-color: #764bc2;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        .main-content .modal__cross {
          left: 85px;
          bottom: 85px; } }
      .main-content .modal__cross:before {
        width: 24px;
        height: 24px;
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='white' viewBox='0 0 24 24'><path d='M23.314,20.485 L20.485,23.314 L12.000,14.828 L3.515,23.314 L0.686,20.485 L9.172,12.000 L0.686,3.515 L3.515,0.686 L12.000,9.171 L20.485,0.686 L23.314,3.515 L14.828,12.000 L23.314,20.485 Z'/></svg>"); }
    .main-content .modal__wrapper {
      width: 100%;
      height: 100%;
      overflow-y: auto; }
    .main-content .modal__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin-top: 40px; }
      @media screen and (min-width: 992px) {
        .main-content .modal__content {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
    .main-content .modal__name {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 36px;
      font-family: Merriweather_Bold;
      color: #764bc2;
      line-height: 1.2; }
    .main-content .modal__tags {
      margin-bottom: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 16px;
      font-family: SFUIDisplay_Regular;
      color: #616161;
      line-height: 1.2; }
      @media screen and (min-width: 768px) {
        .main-content .modal__tags {
          font-size: 24px; } }
    .main-content .modal__tag {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-content .modal__tag:last-child:after {
        display: none; }
      .main-content .modal__tag:after {
        content: '';
        margin: 0 10px;
        width: 2px;
        height: 24px;
        background-color: #e0e0e0; }
    .main-content .modal__line {
      width: 100%;
      background-color: #e0e0e0;
      height: 1px; }
    .main-content .modal__description, .main-content .modal__slider {
      width: 100%; }
      @media screen and (min-width: 992px) {
        .main-content .modal__description, .main-content .modal__slider {
          width: 50%; } }
    .main-content .modal__description {
      padding-left: 15px; }
      .main-content .modal__description .modal__line {
        margin-bottom: 10px;
        margin-top: 15px; }
    .main-content .modal__list {
      padding-left: 0;
      margin-bottom: 15px;
      font-size: 18px;
      font-family: Merriweather_Bold;
      color: #764bc2;
      line-height: 1.2; }
      .main-content .modal__list_none {
        list-style: none; }
        .main-content .modal__list_none .modal__item {
          margin-left: 25px; }
      .main-content .modal__list_line {
        list-style: none; }
        .main-content .modal__list_line .modal__item {
          margin-left: 25px; }
        .main-content .modal__list_line .modal__item:before {
          content: '-';
          margin-right: 5px; }
      .main-content .modal__list_standart .modal__item {
        margin-left: 30px; }
    .main-content .modal__item {
      font-size: 14px;
      font-family: SFUIDisplay_Regular;
      color: #757575;
      line-height: 1.5; }
      .main-content .modal__item:first-child {
        margin-top: 15px; }
  .main-content .articul {
    font-size: 20px;
    text-transform: uppercase;
    font-family: SFUIDisplay_Regular;
    color: #757575; }
  .main-content .overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none; }

.footer {
  background-color: #764bc2;
  background-image: url("../images/footer-bg.png"), url("../images/footer-bg.png");
  background-size: 200%;
  background-position: bottom, top;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.302);
  font-family: Roboto_Bold;
  padding: 42px 0; }
  @media screen and (min-width: 768px) {
    .footer {
      background-image: url("../images/footer-bg.png");
      background-size: cover;
      background-position: center; } }
  .footer__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: inherit; }
    .footer__link:after {
      -webkit-transition: background-image 0.3s;
      transition: background-image 0.3s;
      background-repeat: no-repeat;
      content: '\00A0';
      display: inline-block;
      background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='transparent' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }
    .footer__link:focus, .footer__link:hover {
      color: #ffc107; }
      .footer__link:focus:after, .footer__link:hover:after {
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(255, 193, 7)' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }
    .footer__link_active {
      color: #ffc107; }
      .footer__link_active:after {
        content: '\00A0';
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' style='enable-background:new 0 0 490.193 490.193;' xml:space='preserve' fill='rgb(255, 193, 7)' viewBox='0 0 81 7'><path d='M81.000,0.512 C80.595,0.440 80.150,0.399 79.656,0.399 C74.721,0.399 74.721,4.396 69.786,4.396 C64.851,4.396 64.851,0.399 59.917,0.399 C54.982,0.399 54.982,4.396 50.047,4.396 C45.112,4.396 45.112,0.399 40.178,0.399 C35.243,0.399 35.243,4.396 30.308,4.396 C25.373,4.396 25.373,0.399 20.438,0.399 C15.504,0.399 15.504,4.396 10.569,4.396 C5.634,4.396 5.634,0.399 0.699,0.399 C0.454,0.399 0.222,0.410 -0.000,0.428 L-0.000,2.428 C0.222,2.409 0.454,2.399 0.699,2.399 C5.634,2.399 5.634,6.396 10.569,6.396 C15.504,6.396 15.504,2.399 20.438,2.399 C25.373,2.399 25.373,6.396 30.308,6.396 C35.243,6.396 35.243,2.399 40.178,2.399 C45.112,2.399 45.112,6.396 50.047,6.396 C54.982,6.396 54.982,2.399 59.917,2.399 C64.851,2.399 64.851,6.396 69.786,6.396 C74.721,6.396 74.721,2.399 79.656,2.399 C80.150,2.399 80.595,2.440 81.000,2.512 L81.000,0.512 Z'/></svg>"); }

.copiright {
  width: 199px;
  font-family: Roboto_Regular;
  text-align: center;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px; }
