.row
  .filter
    .filter__col
      h3.filter__title Колекция
      .filter__checkbox
        input.checkbox(id="checkbox-1" type="checkbox" data-filter-collections="новогодняя" hidden) 
        label.checkbox__label(for="checkbox-1") Новогодняя
        input.checkbox(id="checkbox-2" type="checkbox" data-filter-collections="всесезонная" hidden) 
        label.checkbox__label(for="checkbox-2") Всесезонная
    .filter__col
      h3.filter__title Пол ребенка
      .filter__checkbox
        input.checkbox(id="checkbox-3" type="checkbox" data-filter-gender="m" hidden) 
        label.checkbox__label(for="checkbox-3") Для мальчика
        input.checkbox(id="checkbox-4" type="checkbox" data-filter-gender="f" hidden) 
        label.checkbox__label(for="checkbox-4") Для девочки
    .filter__col
      h3.filter__title Возраст ребенка
      //- .range
      //-   input#range-min(type='text')
      //-   .range__slider
      //-     #slider-range
      //-   input#range-max(type='text')
      .filter__checkbox
        input.checkbox(id="checkbox-5" name="age" type="radio" data-filter-age="3" hidden) 
        label.checkbox__label(for="checkbox-5") 3+
        input.checkbox(id="checkbox-6" name="age" type="radio" data-filter-age="6" hidden) 
        label.checkbox__label(for="checkbox-6") 6+
    .filter__col
      h3.filter__title Уровень сложности
      .filter__checkbox
        input.checkbox(id="checkbox-7" type="checkbox" data-filter-lvl="0-3" hidden) 
        label.checkbox__label(for="checkbox-7") 0 - 3 уровень
        input.checkbox(id="checkbox-8" type="checkbox" data-filter-lvl="3-5" hidden) 
        label.checkbox__label(for="checkbox-8") 3 - 5 уровень
