nav.catalog-nav
  ul.catalog-nav__list
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 50
          span.catalog-nav__icon
            img(src="./images/new/1.png")
          span.catalog-nav__text Игрушки из картона
        span.catalog-nav__arrow
    li.catalog-nav__item.catalog-nav__item_active
      a.catalog-nav__link.catalog-nav__link_active(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 25
          span.catalog-nav__icon
            img(src="./images/new/2.png") 
          span.catalog-nav__text Игрушки из  фетра
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 38
          span.catalog-nav__icon
            img(src="./images/new/3.png")
          span.catalog-nav__text Наборы для  творчества
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 23
          span.catalog-nav__icon
            img(src="./images/new/4.png")
          span.catalog-nav__text Открытки и  раскраски
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 30
          span.catalog-nav__icon
            img(src="./images/new/5.png")
          span.catalog-nav__text Украшения интерьера
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 50
          span.catalog-nav__icon
            img(src="./images/new/6.png")
          span.catalog-nav__text Свето- отражатель
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 74
          span.catalog-nav__icon
            img(src="./images/new/7.png")
          span.catalog-nav__text Шьем из  фетра
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 50
          span.catalog-nav__icon
            img(src="./images/new/8.png")
          span.catalog-nav__text Шьем из флиса
        span.catalog-nav__arrow
    li.catalog-nav__item
      a.catalog-nav__link(href="#catalog")
        div.catalog-nav__items
          span.catalog-nav__number 125
          span.catalog-nav__icon
            img(src="./images/new/9.png")
          span.catalog-nav__text Другое
        span.catalog-nav__arrow
