include _product.pug
.catalog-slider.row
 .swiper-container.gallery-top
  .swiper-wrapper
    .swiper-slide
      +product(1, 'Бабочка', 'Сумка', 1, 'red', 'всесезонная', 'm', 3, 1, 1)
      +product(2, 'Весна', 'Шкатулка', 5, 'blue', 'новогодняя', 'f', 4, 2, 2)
      +product(3, 'Груша', 'Груша', 10, 'yellow', 'всесезонная', 'm/f', 5, 3, 2)
      +product(4, 'Мишка', 'Мишка', 15, 'blue', 'всесезонная', 'm', 6, 4, 1)
    .swiper-slide
      +product(1, 'Бабочка', 'Сумка', 25, 'red', 'всесезонная', 'f', 7, 5, 2)
      +product(2, 'Весна', 'Шкатулка', 30, 'blue', 'новогодняя', 'f', 7, 1, 1)
      +product(3, 'Груша', 'Груша', 35, 'yellow', 'новогодняя', 'm/f', 3, 2, 1)
      +product(4, 'Мишка', 'Мишка', 40, 'blue', 'всесезонная', 'm', 12, 3, 2)
 .swiper-container.gallery-thumbs
  .swiper-wrapper
    .swiper-slide
      +product_bot
    .swiper-slide
      +product_bot
  // Add Arrows
 .catalog-slider__arrows
  .catalog-slider__arrows_prev
  .catalog-slider__arrows_next
 include _modal.pug
