footer#footer.footer
  nav.my-nav
   .container.bg-purpl
    ul.my-nav__list.footer__nav
      li.my-nav__item
        a.my-nav__link.footer__link.footer__link_active(href="#") Каталог
      li.my-nav__item
        a.my-nav__link.footer__link(href="#") Контакты
    span.copiright ©2016-Lampony.ru
    span.my-nav__text 
      span.my-nav__sell Оптовые продажи: 
      span.my-nav__phone info@lamponi-art.ru
