header#header.header
  //- .modal-catalog
    .modal-catalog__container
      .modal-catalog__close
      .modal-catalog__group-container
        .modal-catalog__group
          .modal-catalog__img(style="background-image: url('./images/catalog-1.png')")
          p.modal-catalog__content Lorem ipsum dolor sit amet, mel at habeo tibique consectetuer. Ut dico deleniti maiestatis sed.
          ul.modal-catalog__list
            li.modal-catalog__item
              a.modal-catalog__link(href='#') Каталог
            li.modal-catalog__item
              a.modal-catalog__link(href='#') Прайс-лист
        .modal-catalog__group
          .modal-catalog__img(style="background-image: url('./images/catalog-1.png')")
          p.modal-catalog__content Lorem ipsum dolor sit amet, mel at habeo tibique consectetuer. Ut dico deleniti maiestatis sed.
          ul.modal-catalog__list
            li.modal-catalog__item
              a.modal-catalog__link(href='#') Каталог
            li.modal-catalog__item
              a.modal-catalog__link(href='#') Прайс-лист
        
  .overlay
  nav.my-nav
   .container
    ul.my-nav__list.header__nav
      li.my-nav__item
        a#catalog-link.my-nav__link.header__link.header__link_active(href="#") Каталог
      li.my-nav__item
        a.my-nav__link.header__link(href="#") Контакты
    a.my-nav__logo(href="#")
      img(src='./images/header-logo.png' alt="логотип Lamponi")
    span.my-nav__text Оптовые продажи: 
     span.my-nav__phone info@lamponi-art.ru
  include _header-slider.pug
