.container.padding-0
  .header-slider
    #header-slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          .header-slider__slide.header-slider__slide_1
            img.header-slider__img.img-responsive(src="./images/slider_1.png" alt="lamponi наборы для детского творчества")
        .swiper-slide
          .header-slider__slide.header-slider__slide_2
            img.header-slider__img.img-responsive(src="./images/slider_2.png" alt="Lamponi торговое оборудование")
            h2.header-slider__title Бесплатная поддержка <br> в местах продажи: <br> торговое оборудование, <br> POSM
      .header-slider__pagination
      .header-slider__prev
      .header-slider__next
