.main-content
  .container
    .row.bg-white
      .col-lg-6
        h1.main-content__title.title Lamponi— <br/>
          span.text-purpl студия яркого <br/> творчества!
      .col-lg-6
        p.main-content__content Российская торговая марка «Lamponi» представляет наборы для детского творчества для детей с 3-х лет.
        p.main-content__content Дети - это  наше будущее и маленькие творцы, которые только начинают изучать и исследовать мир, меняя его по своему в лучшую сторону.
        p.main-content__content Создавая продукцию для детей, мы вносим свой вклад в формирование важных качеств у нового поколения – креативности, упорности, развития, интеллекта, доброты.
    .advantage
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Сделано в России
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Доступная цена
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Качественные комплектующие
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Ассортимент для разных возрастов
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Удобная упаковка с европодвесом
      .advantage__col.bg-white
        span.advantage__icon
        span.advantage__text Простота в исполнении         
    include _catalog.pug
