mixin head(num)
  head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Lamponi
      case num
        when 0
          link(rel='stylesheet', href='css/bootstrap.css')
          link(rel='stylesheet', href='css/style.css')
        default
          link(rel='stylesheet', href='css/bootstrap.css')
          link(rel='stylesheet', href='css/swiper.min.css')
          link(rel='stylesheet', href='css/jquery.ez-plus.css')
          //- link(rel='stylesheet', href='css/jquery-ui-1.10.4.custom.min.css')
          link(rel='stylesheet', href='css/style.css')
      //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      //WARNING: Respond.js doesn't work if you view the page via file://
      //[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        [endif]
mixin footer(num)
    case num
      when 0
        script(src='js/jquery.min.js')
        script(src='js/main.js')
      default
        script(src='js/jquery.min.js')
        script(src='js/swiper.jquery.min.js')
        //- /*script(src='js/jquery-ui-1.10.4.custom.min.js')*/
        //- /*script(src='js/bootstrap.min.js')*/
        script(src='js/swiper.min.js')
        script(src='js/jquery.ez-plus.js')
        //- /*script(src='js/owl.carousel.min.js')*/
        script(src='js/slider.js')
        //- /*script(src='js/range.js')*/
        script(src='js/filter.js')
        script(src='js/modal.js')
        //- /*script(src='js/modal-catalog.js')*/
        script(src='js/main.js')
