.modal__slider
  .img-col
    .img-col__arrow.img-col__arrow_top
    #gallery_1.img-col__gallery
    //-  a.img-col__img.img-col__img_active(data-image="images/catalog-1.png" data-zoom-image="images/catalog-1.png" style='background-image:url(./images/catalog-1.png)')
    //-  a.img-col__img(data-image="images/modal-1.png" data-zoom-image="images/modal-lg-1.png" style='background-image:url(./images/modal-1.png)')
    //-  a.img-col__img(data-image="images/catalog-1.png" data-zoom-image="images/catalog-1.png" style='background-image:url(./images/catalog-1.png)')
    //-  a.img-col__img(data-image="images/modal-1.png" data-zoom-image="images/modal-lg-1.png" style='background-image:url(./images/modal-1.png)')
    .img-col__arrow.img-col__arrow_bot
  .img-singl
    //- img#zoom_01.img-singl__img(src='images/modal-1.png' data-zoom-image="images/modal-lg-1.png") 
    //- .img-singl__video
      span.img-singl__video-block
        a.img-singl__video-link(href="#") Видеообзор
      span.img-singl__video-block
        a.img-singl__video-link(href="#") Мастер класс
