.modal
 .modal__close
    .modal__cross
 .modal__wrapper
  header.modal__header
    //- h3.modal__name Сова
    //- span.modal__tags
      span.modal__tag Подставка под кружку
      span.modal__tag Для мальчика
      span.modal__tag Возраст: 3+
      span.modal__tag 4_й уровень сложности
  .modal__line
  .modal__content
    include _modal-slider.pug
    .modal__description  
      //- ul.modal__list.modal__list_none Описание:
      //-   li.modal__item Скрапбукинг является видом рукодельного искусства, при котором любой желающий изготавливает и оформляет открытку, рассказывающую истории в виде изображений, фотографий, записей, газетных вырезок и других вещей, которые имеют памятную ценность. Данный набор помогает формированию усидчивости, внимательности, старательности и аккуратности. Развивает мелкую моторику рук. Такая открытка, сделанная своими руками, станет отличным подарком.
      //- ul.modal__list.modal__list_line Характеристики:
      //-   li.modal__item Материал: картон, атлас, стеарин, полипропилен.
      //-   li.modal__item Размер готовой открытки: 13х17 см- Материал: картон, атлас, стеарин, полипропилен.
      //-   li.modal__item Размер готовой открытки: 13х17 см
      //- ul.modal__list.modal__list_standart В наборе:
      //-   li.modal__item картонная основа,
      //-   li.modal__item клей,
      //-   li.modal__item декоративные элементы,
      //-   li.modal__item атласные ленты,
      //-   li.modal__item инструкция на русском языке.
      //- .modal__line
      //- span.modal__list Артикул: 
      //-   span.articul LMDA-UA11-TCPHB-BOX
.overlay
