mixin product(img, name, category, colorId, color, collect, gender, age, lvl, productId)
  .product(style='background-image:url(./images/catalog-'+img+'.png)' data-filter-collections=collect data-filter-gender=gender data-filter-age=age data-filter-lvl=lvl data-id=productId)
    .product__wrapper
      h3.product__name
      span.product__catergory= category
    .colors
      input.colors__radio(id="radio_"+colorId type="radio" name="radio_"+colorId hidden checked data-img='./images/catalog-'+img+'.png' data-name='бабочка') 
      .colors__border(style='border-color: '+color+'')
        label.colors__label(for="radio_"+colorId style='background-color: '+color+'')
      input.colors__radio(id="radio_"+colorId+1 type="radio" name="radio_"+colorId hidden data-img='./images/catalog-'+(img+1)+'.png' data-name='груша') 
      .colors__border(style='border-color: '+color+'')
        label.colors__label(for="radio_"+colorId+1 style='background-color: '+color+'')
mixin product_bot
  - var num = 1;
  while num <= 4
    .catalog-slider__bot(style='background-image:url(./images/catalog-'+num+'.png)')
    - num++
